<center>
	<body class="background"><h2 style= color:lightgreen><%=p2_name%> Start guessing the letters.</h2></body></center>
<center><h3 style= color :lightgreen><%=blank%></h3></center>
<br/><br/>
<form method="post"	action="guess">
<center>
<h2><%=message%></h2>
<input type="text" name="letter">
<!-- <input type="hidden" name="player1" value="<%=p1_name%>"> -->
<!-- <input type="hidden" name="player2" value="<%=p2_name%>"> -->
<input type="submit" value="Enter Guess"/>
<h2 style= color:lightgreen>Guesses-<%=array%> </h2>
</center>
</form>
<img src="https://cdn.shopify.com/s/files/1/1034/8911/products/Untitled-2_35b3ad31-b944-48b6-bc44-9f31e038911f_1024x1024.jpg?v=1480057964">